version: "3"
services:
    web:
        image: "revoltblog:latest"
        container_name: "revoltblog"
        build: .
        links:
            - db:dbserver
            - elasticsearch
        ports: 
            - "8000:5000"
        environment:
            MAIL_SERVER: smtp.gmail.com
            MAIL_PORT: 587
            MAIL_USE_TLS: 'true'
            MAIL_USERNAME: prayoga.alfiansyah@gmail.com
            MAIL_PASSWORD: H@ckers12
            DATABASE_URL: mysql+pymysql://revolt:revolt123@dbserver/revoltDB
            ELASTICSEARCH_URL: http://localhost:9220
    db:
        image: mysql/mysql-server:5.7
        container_name: "mysql"
        environment:
            MYSQL_ROOT_PASSWORD: H@ckers12
            MYSQL_DATABASE: revoltDB
            MYSQL_USER: revolt
            MYSQL_PASSWORD: revolt123
        ports:
          - '33066:3306'
        expose:
          - '33066'
        volumes:
          - 'mysql-data:/var/lib/mysql'

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:6.1.4
        container_name: elasticsearch
        ports: 
            - 9220:9200
            - 9330:9300
        environment:
            - "discovery.type=single-node"

volumes:
    mysql-data: